@charset "utf-8";
/* CSS Document */


.noprint {
	display: none;
}

.imprimir {
	display: inline;
	
}
#conteudo {
	color: black;
}

body {
	background: url(../images/menu_transp.png) repeat scroll 50% 0 !important;
}
	

